<div class="display-component-container" >
  <div class="header">
    <h4>Stats of keyword {{ query() ? query() : '...' }} in set {{ setSelected() ? setSelected() : '...' }}</h4>
    <button (click)="toggleCollapse()">{{ isCollapsed ? '▶️' : '🔽' }}</button>
  </div>

  <div class="display-content" *ngIf="!isCollapsed">
    <p *ngIf="loading()">Analysis in progress...</p>
    <ng-container *ngIf="!loading() && textAnalysisResult() as result">
      Expectancy by booster : {{ result.expectancy_by_booster}}.
      <app-bar-chart title="Color Distribution" [data]="result.color_proportion || {}"></app-bar-chart>
      <app-pie-chart title="Color Distribution" [data]="result.color_proportion || {}"> </app-pie-chart>
    </ng-container>
  
    <p *ngIf="!loading() && !textAnalysisResult()">No result available.</p>
  </div>
  

  
</div>