.dashboard-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    
    // S’adapte à la taille de l’écran
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .sidebar {
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les composants */
  }
  
  .selector, .text-analysis-input {
    flex: 1;
    max-width: 300px;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .main-content {
    flex: 3;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les affichages */
  }
  
  
  .display {
    flex: 3;
    min-width: 0;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  